@model Doubble.Models.Portfolio

@{
    ViewBag.Title = "Change Beneficiary";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-12 col-md-12 py-3">

                </div>
            </div>
        </div>

        <div class="row py-3">
            <div class="order-md-1 w-100 mx-auto box-shadow p-4 col-sm-12 col-12 col-md-8" style="background: linear-gradient(180deg, gainsboro -50%, white, white);">
                <h2 class="mb-3">Welcome, @ViewBag.fName!</h2>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8 small">View and Manage your investments and profile.</div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 small" style="text-align: right;">Dashboard | @Html.ActionLink("Log Out", "LogOff", "Dashboard")</div>
                </div>
                @if (@ViewBag.message != null)
            {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger p-2 mx-auto col-sm-12 col-md-5" role="alert">
                                <button type="button" class="close" data-dismiss="alert">×</button>

                                <h4 class="alert-heading">There was a problem!</h4>


                                <p class="mb-0">@ViewBag.message!.</p>
                            </div>
                        </div>
                    </div>
                }
                <hr>
                <div class="row">
                    @using (Html.BeginForm("Beneficiary", "Dashboard", FormMethod.Post))
                    {
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <h5 class="py-3"><b>Arrangement Details</b></h5>
                        <div>
                            <div class="py-1">
                                <span class="text-muted small">Arrangement ID:</span>&nbsp;
                                <span><b>@ViewBag.ArrangementId</b></span>
                            </div>

                            <div class="py-1">
                                <span class="text-muted small">Investment Type:</span>&nbsp;
                                <span><b>@ViewBag.InvestmentType</b></span>
                            </div>
                            <div class="py-1">
                                <span class="text-muted small">Investment Value:</span>&nbsp;
                                <span><b>@ViewBag.TotalInvestmentValue</b></span>
                            </div>
                            <div class="py-1">
                                <span class="text-muted small">Contributions:</span>&nbsp;
                                <span><b>@ViewBag.TotalContributions</b></span>
                            </div>
                            <div class="py-1">
                                <span class="text-muted small">Interest:</span>&nbsp;
                                <span><b>@ViewBag.InterestEarned</b></span>
                            </div>
                            <div class="py-1">
                                <span class="text-muted small">Pay-In Account:</span>&nbsp;
                                <span><b>@ViewBag.PayInAccount</b></span>
                            </div>

                            <div class="py-1">
                                <span class="text-muted small">Beneficiary Name:</span>&nbsp;
                                <span><b>@ViewBag.BeneficiaryName</b></span>
                            </div>
                            <div class="py-1">
                                <span class="text-muted small">Beneficiary Account:</span>&nbsp;
                                <span><b>@ViewBag.BeneficiaryAccount</b></span>
                            </div>
                            <div class="py-1">
                                <span class="text-muted small">Start Date:</span>&nbsp;
                                <span><b>@ViewBag.EffectiveDate</b></span>
                            </div>
                            <div class="py-1">
                                <span class="text-muted small">Maturity Date:</span>&nbsp;
                                <span><b>@ViewBag.MaturityDate</b></span>
                            </div>
                            <div class="py-1">
                                <span class="text-muted small">Amount:</span>&nbsp;
                                <span><b>@ViewBag.PayInAmount</b></span>
                            </div>
                            <div class="py-1">
                                <span class="text-muted small">New Beneficiary:</span>&nbsp;
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">

                                                @Html.RadioButtonFor(md => md.BeneficiaryType, "Self", new
                                   {
                                       @class = "form-check-input bg-light",
                                       @value = "option1",
                                       @id = "inlineRadio1",
                                       @name = "inlineRadioOptions"
                                   }) Self
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                @Html.RadioButtonFor(md => md.BeneficiaryType, "Others", new { @class = "form-check-input", @value = "option2", @id = "inlineRadio2", @name = "inlineRadioOptions" }) Other

                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="firstName">Beneficiary Account</label>

                                        <span id="textbox"> <input type="text" class="form-control form-control-sm" id="firstName" placeholder="Sterling Account Number" required="" value="" name="Account" autocomplete="off"></span>
                                        <span id="dropdown">
                                            @Html.DropDownList("Account1", ViewBag.Accounts as SelectList, new { @class = "form-control form-control-sm", @value = "", @id = "firstName", @required = "" })

                                        </span>
                                    </div>
                                </div>
                                
                                
                                @Html.HiddenFor(md => md.ArrangementId)
                                @Html.HiddenFor(md => md.BeneficiaryAccount)
                                @Html.HiddenFor(md => md.BeneficiaryName)
                                @Html.HiddenFor(md => md.EffectiveDate)
                                @Html.HiddenFor(md => md.InterestEarned)
                                @Html.HiddenFor(md => md.InvestmentType)
                                @Html.HiddenFor(md => md.MaturityDate, new { @id = "mob_num" })
                                @Html.HiddenFor(md => md.PayInAccount, new { @id = "acct" })
                                @Html.HiddenFor(md => md.PayInAmount)  
                                @Html.HiddenFor(md => md.TotalContributions)
                                @Html.HiddenFor(md => md.TotalInvestmentValue)
                            </div>

                            <button class="btn btn-block btn-danger my-2" type="submit">Submit</button>
                        </div>
                        
                        <div class="hidden-md hidden-lg">
                            <hr />
                        </div>
                    </div>
                    }
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="my-3">
                            @Html.ActionLink("My Investments", "InvestList", "Dashboard", new { area = "" }, new { @class = "text-black mb-0" })
                            <span class="text-muted small">View all on-going Investments</span>
                        </div>

                        @*<div class="my-3">

                                @Html.ActionLink("Documentation", "Profiler", "Dashboard", new { area = "" }, new { @class = "text-black mb-0" })
                                <span class="text-muted small">Complete my Account Documentation</span>
                            </div>*@

                        <div class="my-3">

                            @Html.ActionLink("New Investment", "NewInvestment", "Dashboard", new { area = "" }, new { @class = "text-black mb-0" })
                            <span class="text-muted small">Create a New Doubble Investment</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#dropdown").hide();
        $("input[name='BeneficiaryType']").on("change", function () {
            if ($(this).val() == "Self") {
                $("#dropdown").show();
                $("#textbox").hide();
            }
        });
</script>
<script>
        $("#textbox").hide();
        $("input[name='BeneficiaryType']").on("change", function () {
            if ($(this).val() == "Others") {
                $("#textbox").show();
                $("#dropdown").hide();
            }
        });
</script>
    
    }