@model GIVE_Admin.Models.NGOModel

@using (Html.BeginForm("Edit",
	  "NGO",
	  FormMethod.Post,
	  new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Edit NGO</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Id)

		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.YearFound, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.YearFound, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.YearFound, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Motto, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Motto, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Motto, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.About, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.About, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Project(s) (Press Control or Command to select Multiple", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@*	@Html.EditorFor(model => model.Projects, new { htmlAttributes = new { @class = "form-control" } })*@

				@*@Html.ListBoxFor(model => model.SelectedProjects, new SelectList(Model.AllProjects, "Value", "Text", Model.SelectedProjects), htmlAttributes: new { @class = "form-control" })*@
				@Html.ListBoxFor(model => model.SelectedProjects, new SelectList(Model.AllProjects, "Value", "Text", Model.SelectedProjects), htmlAttributes: new { @class = "form-control" })

				@Html.ValidationMessageFor(model => model.SelectedProjects, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Bank, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Bank, Model.AllBanks, Model.Bank, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Bank, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownListFor(model => model.Category, Model.Categories, Model.Category, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.Label("Logo", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
				<input type="file" name="file" id="file" class="form-control" accept=".jpg, .jpeg, .png" /><br><br>
				@Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-success" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to NGOs", "Index")
</div>
