@model Doubble.Models.DoubbleRequest

@{
    ViewBag.Title = "Doubble - Let's get to know you.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Doubble", "Doubble", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-12 col-md-12">
                        <h2 class="my-4">Doubble Sign Up</h2>
                        <hr />
                    </div>
                </div>
            </div>
@if (@ViewBag.Response != null)
{
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger p-2 mx-auto col-sm-12 col-md-5" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>

                        <h4 class="alert-heading">Congratulations!</h4>
                        <p class="mb-0">@ViewBag.Response!.</p>

                    </div>
                </div>
            </div>
            }
            @if (@ViewBag.message != null)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger p-2 mx-auto col-sm-12 col-md-5" role="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>

                            <h4 class="alert-heading">There was a problem!</h4>


                            <p class="mb-0">@ViewBag.message!.</p>
                        </div>
                    </div>
                </div>
            }
            
            <div class="row py-3">
                <div class="order-md-1 w-100 mx-auto box-shadow p-4 col-sm-12 col-12 col-md-5">
                    <h2 class="mb-3">
                        <b>Let's get to know you.</b>
                    </h2>
                    <p class="my-3">
                        <b>Please complete the form below to start.</b>
                    </p>
                    <form action="ns_step2.html" autocomplete="off">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>

                                @Html.TextBoxFor(md => md.FirstName, new { @class = "form-control form-control-sm", @id = "firstName", @placeholder = "", @value = "", @required = "", @autocomplete = "off" })
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                @Html.TextBoxFor(md => md.LastName, new { @class = "form-control form-control-sm", @id = "lastName", @placeholder = "", @value = "", @required = "", @autocomplete = "off" })
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="cc-number">BVN</label>
                                    @Html.TextBoxFor(md => md.BVN, new { @class = "form-control form-control-sm", @id = "bvn_number", @placeholder = "", @required = "", @maxlength = "11", @autocomplete = "off" })

                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">
                                    Date of Birth
                                    <br>
                                </label>
                                @Html.TextBoxFor(md => md.DateOfBirth, new { @class = "form-control form-control-sm", @id = "dob", @placeholder = "dd-mm-yyyy ex. 17-11-1960", @value = "", @required = "", @name = "dob", Type = "date", @autocomplete = "off" })
                                
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email">
                                Email
                                <span class="text-muted"></span>
                            </label>
                            @Html.TextBoxFor(md => md.Email, new { @class = "form-control form-control-sm my-2", @id = "email", @placeholder = "you@example.com", @required = "required", Type = "email", @autocomplete = "off" })
                            <div class="mb-3 my-3">
                                <label for="address">
                                    Mobile
                                    <br>
                                </label>
                                @Html.TextBoxFor(md => md.MobileNumber, new { @class = "form-control form-control-sm", @id = "mobile", @required = "", @type = "number", @autocomplete = "off" })
                                
                            </div>
                            <button class="btn btn-block btn-danger" type="submit">Next</button>



                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



 

      
           

    


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    //$('#bvn_number').keyup(function () {

    //    var url = "/Doubble/getBVN";
    //    var bvn = $("#bvn_number").val();
    //    if (bvn.length === 11) {
    //        $.post(url, { bvn: bvn }, function (data) {
    //            $("#msg").html(data);
    //        });
    //    }
       
    //})

</script>

}
