@using Doubble.Models
@model ForNonSterling
@{
    ViewBag.Title = "Doubble - Verify Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("ForNonSterling", "Doubble", FormMethod.Post))
{


    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-12 col-md-12">
                        <h2 class="my-4">Doubble Sign Up</h2>
                        <hr>
                    </div>
                </div>
            </div>
@if (@ViewBag.message != null)
{
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger p-2 mx-auto col-sm-12 col-md-5" role="alert">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4 class="alert-heading">There was a problem!</h4>
                        <p class="mb-0">@ViewBag.message!.</p>
                    </div>
                </div>
            </div>
}
            <div class="row py-3">
                <div class="order-md-1 w-100 mx-auto box-shadow p-4 col-sm-12 col-12 col-md-5">
                    <h2 class="mb-3">
                        <b>Hello @ViewBag.fname! </b>You are doing great!
                    </h2>
                    <p class="my-3">
                        <b>Let's verify you and complete this process.</b>
                    </p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="exampleCheck2" value="on">
                        <label class="form-check-label" for="exampleCheck1">Disapora Resident</label>
                    </div>
                    <small id="emailHelp" class="form-text text-muted text-justify">Check this box if you are a Disapora Resident.</small>
                    <br />
                    <form action="ns_step3.html" autocomplete="off">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">State of Origin</label>
                                @Html.DropDownList("StateName", ViewBag.StateName as SelectList, new { @class = "form-control form-control-sm", @required = "required" })
                               
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Gender</label>
                                <br>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        @Html.RadioButtonFor(md => md.Gender, "Female", new { @class = "form-check-input bg-light", @id = "inlineRadio1", @value = "option1", @name = "inlineRadioOptions"}) Female

                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        @Html.RadioButtonFor(md => md.Gender, "Male", new { @class = "form-check-input", @id = "inlineRadio2", @value = "option2", @name = "inlineRadioOptions" }) Male

                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 m-0 p-0">
                            <label for="address">Residential Address</label>
                            
                            @Html.TextAreaFor(md => md.HomeAddress, new { @class = "form-control form-control-sm", @id = "mobile", @rows = "3", @cols = "50", @required = "", @autocomplete = "off" })
                        </div>

                        <div id="diaspora">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Nigerian Contact Person</label>
                                    @Html.TextBoxFor(md => md.ContactPerson, new { @class = "form-control form-control-sm", @required = "required", @placeholder = "Full Name", @autocomplete = "off" })

                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="firstName">Contact's Mobile No</label>
                                    @Html.TextBoxFor(md => md.ContactMobileNumber, new { @class = "form-control form-control-sm", @required = "required", @autocomplete = "off" })

                                </div>
                            </div>
                            <div class="mb-3 m-0 p-0">
                                <label for="address">Contact Person' Address</label>

                                @Html.TextAreaFor(md => md.ContactAddress, new { @class = "form-control form-control-sm", @id = "mobile", @rows = "3", @cols = "50", @required = "", @autocomplete = "off" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label for="firstName">OTP</label>
                                <input type="text" class="form-control form-control-sm" id="inlineFormInput" placeholder="Input Verification Code" name="Otp" maxlength="6" required="" autocomplete = "off">
                                <button value="resendOtp" id="resendOtp">Verification Code</button>

                                <small id="emailHelp" class="form-text text-muted text-justify">Click the button to get your verification code.</small>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="firstName">Referral Code</label>
                                @Html.TextBoxFor(md => md.DAOCode, new { @class = "form-control form-control-sm", @id = "mobile", @rows = "3", @cols = "50", @autocomplete = "off" })



                                @*@Html.ActionLink("Resend OTP", "resendOTPNST", "Doubble", new { @class = "btn btn-success", @runat = "server", @onclick = "SubmitOTP()" })*@
                                @Html.HiddenFor(md => md.Email, new { @id = "email" })
                                @Html.HiddenFor(md => md.BVN)
                                @Html.HiddenFor(md => md.DateOfBirth)
                                @Html.HiddenFor(md => md.FirstName)
                                @Html.HiddenFor(md => md.LastName)
                                @Html.HiddenFor(md => md.MobileNumber, new { @id = "mob_num" })
                                @Html.HiddenFor(md => md.DateOfEntry)
                                @Html.HiddenFor(md => md.CusNum)
                                @Html.HiddenFor(md => md.Term)
                                @Html.HiddenFor(md => md.ValCode)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="exampleCheck1" value="on">
                                    <label class="form-check-label" for="exampleCheck1">I agree</label>
                                </div>
                                <small id="emailHelp" class="form-text text-muted text-justify">By Checking this box, Sterling Bank will open an Account for you to complete the process.</small>
                            </div>
                            </div>
                            <button class="btn btn-block btn-danger my-2" type="submit" id="submit">Verify</button>
</form>
                </div>
            </div>
        </div>
    </div>
    





}




    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


<script type="text/javascript">


        $('#submit').prop("disabled", true);
        $(function () {
            $('#exampleCheck1').change(function () {
                var st = this.checked;
                if (st) {
                    $('#submit').prop("disabled", false);
                }
                else {
                    $('#submit').prop("disabled", true);
                }
            });

        });


        $('#diaspora').hide();
        $(function () {
            $('#exampleCheck2').change(function () {
                var st = this.checked;
                if (st) {
                    $('#diaspora').show();
                }
                else {
                    $('#diaspora').hide();
                }
            });

        });


        $('#resendOtp').click(function () {
            var url = "/Doubble/resendOTPNST";
            var mob_num = $("#mob_num").val();
            var email = $("#email").val();
            $.post(url, { mob_num: mob_num, email: email }, function (data) {
                $("#msg").html(data);
            });
        })


</script>


    }








