

@model GIVE_Admin.Models.Login

@{
	ViewBag.Title = "Log in";
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="modal-content">
	<div class="jumbotron text-center" style="background-color:#990000 ; color: white">
		<img src="~/Content/images/logo-icon.png" />
		<h2><b>GIVE ADMIN</b></h2>
		<p class="lead"></p>
		@*<p><a href="/Home/Transactions" class="btn btn-primary btn-lg">Click here to enter Reports &raquo;</a></p>*@
	</div>

	@*<div class="col-md-12 col-md-push-2">


	</div>*@


	<section id="loginForm">
		@using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
		{
			@Html.AntiForgeryToken()

			<br />
			if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
			{
				<div class="alert alert-danger" style="margin-right: 30%"> 
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					@Html.ValidationSummary(true, "")
				</div>
			}
			<div class="form-group">
				@Html.LabelFor(m => m.Username, new { @class = "col-md-4 control-label" })
				<div class="col-md-8">
					@Html.TextBoxFor(m => m.Username, new { @class = "form-control", autocomplete = "off" })
					<br />
					@Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
				<div class="col-md-8">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off" })
					<br />
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-5 col-md-6">
					<input type="submit" value="Log in" class="btn btn-success btn-lg" />
				</div>
			</div>

		}
	</section>


</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}