<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - NIB Report Portal</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<style>
		/*table {
			width: 100%;
			/*border-collapse: collapse;
		}

			table tbody, table thead {
				display: block;
			}

			table tbody {
				overflow: auto;
				height: 100px;
			}*/
		table th, table td {
			text-align: center;
			/*padding: .5em 1em;*/
		}

		table tr:nth-child(even) {
			background-color: #BEF2F5
		}

		.pagination li:hover {
			cursor: pointer;
		}
		.navbar-inverse .navbar-nav > li > a {
			color: #ffffff;
		}

		.bodybackground {
			
		}
	</style>
	 
</head>
<body background="~/Content/images/bg3.jpg">
	<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: brown; color:white">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@*	@Html.ActionLink("NIB E-Channels Portal", "", "", new { area = "" }, new { @class = "navbar-brand" })*@

				<img src="~/Content/images/logo-icon2.png" style="float:left" />

				<h4 class="navbar-text" style="color:white; margin: 20px">NIB REPORT PORTAL</h4>
			</div>
			<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IBS <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("IBS Outward", "Transactions", "Home")</li>
                        </ul>
                    </li>
                  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USSD <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("USSD Outward", "Index", "USSD")</li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NIP <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("NIP Inward", "Index", "Inward")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("NIP At Branch", "Index", "NIPBranch")</li>
                        </ul>
                    </li>
                    <li class=" navbar-right">@Html.ActionLink("Log Out", "Login", "Login")</li>
                </ul>
			</div>
		</div>
	</div>

	<div class=" body-content" style="margin: 5%">
		@RenderBody()
		<hr />
		<footer style="text-align: center;">
			<br />
			<br />
			<br />
			<hr />
			<p>&copy; @DateTime.Now.Year - NIB Report Portal</p>
		</footer>
	</div>
	@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)

	@*<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>*@

	<script type="text/javascript" src="~/Scripts/xlsx_html.full.min.js"></script>
	
	<script>
		function fnExcelReport(tableName) { XLSX.utils.html.save_table_as_excel(document.getElementById(tableName), { name: tableName + '.xlsx' }); }
			</script>
</body>
</html>
